/* Variables */
@import './misc/variables';

/* Global */
@import './misc/normalize';

/* Home - header */

body {
     
    .nav{
        background-color: #ffffff;
        position: fixed;
        width: 100%;
        height: 8rem;
        font-size: 1.5em; 
        z-index: 101;
        box-shadow:  11px 11px 22px #d0d0d0,
        -11px -11px 22px #f0f0f0;

        .nav-container{
            display:flex;
            height: 100%;
            width: 90%;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
        }

        .nav-logo{
            font-weight: 900;
        }

        .nav-label{
            display:none;
        } 
        
        .nav-input{
            display: none;
        }

        .nav-menu{
            display:grid;
            grid-auto-flow: column;
            gap: 5rem;
            font-weight: 600;

            .nav-item{
                --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
            }

            .nav-item:hover{
                color: #8d74ff;
                --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            .nav-item::after{
                content: "";
                display: block;
                background: #8d74ff;
                width: 90%;
                margin-top: 0.3rem;
                margin-left: 1rem;
                height: 0.3rem;
                clip-path: var(--clippy);
                transition: clip-path .3s;
            }

            i{
                padding: 0 1rem;
                font-size: 2rem;
            }
        }
    }

    .principal{
        margin: 0 auto;
        max-width: 108rem;
        height: 80rem;
        
        .container-principal{
            padding-top: 20rem;
            display:flex;
            justify-content: center;
            align-items: center;
            justify-content: space-evenly;
            
            .home{
                width: 40rem;
                font-size: 2em;
            }
    
            .video{
                video{
                    width: 40rem;
                }    
            }  
        }
    }
    
  

    //sobre mi
    .sobre-mi {
        max-width: 1080px;
        margin: 0 auto;

        .container-sobre-mi {
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            .sobre-mi {
                display: flex;
                margin-top: 20rem;
                margin-bottom: 30rem;
                gap: 3rem;

                .container-descripcion {
                    img {
                        width: 30rem;
                    }
                }

                .descripcion1 {
                    margin-left: 1rem;

                    .texto1 {
                        margin-bottom: 2rem;
                    }

                    .texto2 {
                        margin-bottom: 4rem;
                    }
                }

                h2 {
                    font-size: 2em;
                }

                p {
                    font-size: 1.5em;
                    width: 25rem;
                }

                img {
                    width: 7rem;
                }

                .boton {
                    position: absolute;
                    width: 140px;
                    height: 40px;
                    text-align: center;
                    margin-top: 5rem;
                    font-size: 1.6em;
                    padding: 0.5rem;
                    transition: 0.3s ease-in-out;


                    &:hover {
                        svg rect {
                            stroke-dasharray: 50, 380;
                            stroke-dashoffset: 200;
                            stroke: rgb(157, 100, 255);
                        }
                    }

                    &:hover {
                        transform: scale(1.1);
                        background-clip: text;
                        -webkit-text-fill-color: rgb(157, 100, 255);
                    }

                    svg,
                    svg rect {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        fill: transparent;
                    }

                    rect {
                        stroke:rgb(0, 0, 0);
                        stroke-width: 4;
                        transition: 1s;
                        stroke-dasharray: 400, 400;
                        stroke-dashoffset: 0;
                    }
                }
            }

            .descripcion-sobre-mi {
                width: 50rem;
                margin-top: 20rem;

                .parrafo1 {
                    font-size: 2em;
                }
            }
        }
    }

    //trabajos 
    .trabajos{
        display:flex;
        flex-direction: column;
        height: 108rem;

        .subtitulo{
            display:flex;
            justify-content: center;
            align-items: center;

            img{
                width: 30rem;
            }
        }

        .trabajos-contenedor{
            display:flex;
            flex-wrap:wrap;
            flex-direction: row;
            justify-content: center;

            .container-trabajos{
                padding: 1rem;
    
                img{
                    border-radius: 1rem;
                    margin-bottom: .75rem;
                    width: 30rem;
                }
    
                .card{
                    width: 37rem;
                    background-color: #ffffff;
                    box-shadow:  11px 11px 22px #d0d0d0,
                    -11px -11px 22px #f0f0f0;
                    padding: 3rem;
                    border-radius: 1rem;
    
                    h3{
                        font-size: 2rem;
                    }
    
                    .btn-trabajo{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    //Contactos

    .container-contacto {
        margin: 0 auto;

        .servicios-contacto {
            margin-top: 20rem;
            margin-bottom: 30rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            justify-content: center;
            gap: 10rem;

            .div-info {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 6rem;

                .decorativo1 {
                    width: 1rem;
                    margin-right: 50rem;
                }

                .decorativo2 {
                    width: 1rem;
                    margin-left: 50rem;
                }

                .info {
                    background-image: url("../../assets/image/objeto3.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    padding: 4rem;
                    border-radius: 1rem;
                    width: 30rem;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;

                    span {
                        display: flex;
                        align-items: center;
                        padding-top: 2rem;
                        gap: 1rem;
                        font-size: 1.4em;
                        cursor: pointer;

                        &:hover .btn {
                            transform: translate(.25rem);
                        }

                        .btn {
                            font-size: 1.6rem;
                            transition: .4s;
                        }
                    }

                    .forma5 {
                        cursor: pointer;
                        width: 40rem;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    .servicios-titulo {
                        font-size: 2.5em;
                        text-align: center;
                    }

                    .active-modal {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .tipografía-servicios {
                    width: 15rem;
                    display: flex;
                    flex-direction: column;
                }

                .servicios-clic {
                    position: fixed;
                    inset: 0;
                    background-color: rgba(255, 255, 255, 0.458);
                    padding: 2rem 1rem;
                    display: grid;
                    place-items: center;
                    visibility: hidden;
                    opacity: 0;
                    transition: .4s;
                    z-index: 1000;


                    .servicios-contenido {
                        position: relative;
                        border-radius: 1.5rem;
                        background: #ffffff;
                        box-shadow: -34px 34px 68px #d0d0d0,
                            34px -34px 68px #f0f0f0;
                        margin-top: 2rem;
                        padding: 5rem 2rem 3rem;

                        h3 {
                            text-align: center;
                            font-size: 1.7em;
                            color: #ad94ff;
                        }

                        ul {
                            display: grid;
                            row-gap: .80rem;
                            font-size: 1.2em;
                        }

                        li {
                            display: flex;
                            align-items: flex-start;
                            column-gap: .5rem;
                            margin-top: 1rem;

                            i {
                                font-size: 1.5em;
                                color: #ad94ff;
                            }
                        }

                        .close {
                            position: absolute;
                            top: 1.5rem;
                            right: 1.5rem;
                            font-size: 2em;
                            color: #ad94ff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .div-contacto {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        transform: translate(120%,-180%);
        gap: 2rem;
        margin-bottom: 10rem;
        align-items: center;

        div {
            display: flex;
            flex-direction: column-reverse;
            gap: 1rem;
            cursor: pointer;

            a{  
                font-size: 3.5rem;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                    color: #8d74ff;
                }
            }
        }

        .img-estrella{
            width: 4rem;
        }

        //
        span {
            writing-mode: vertical-lr;
            text-orientation: upright;
            font-size: 1.4em;
        }
    }

    //footer

    .footer {
        height: 200px;
        margin-top: 160px;
        background-color: rgb(255, 255, 255);

        img {
            width: 2rem;
        }

        .copy {
            color: rgb(45, 45, 45);
            font-weight: 700;
            font-size: 2em;
            display: flex;
            justify-content: center;
            padding-top: 60px;
            padding-left: 60px;
            padding-right: 60px;
            gap: 5rem;
        }
    }
}

//media

@media (max-width: 900px){

    .nav{
        .nav-container{
            .nav-label{
                display:block;
                cursor: pointer;
                font-size: 2rem;

                &:hover{
                    color:#8d74ff;
                }
            }
    
            .nav-menu{
                position: fixed;
                top: 8rem;
                bottom: 0; 
                background: #ad94ff;
                width: 100%;
                left:0;
                display:flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                clip-path: circle(0 at center);
                transition: clip-path 1s ease-in-out;
                z-index: 100;

                .nav-item:hover{
                    color: #ffffff;
                }

                .nav-item::after{
                    background: #fefeff;
                }
            }

            .nav-input:checked + .nav-menu{
                clip-path: circle(100% at center);
            }
        }
    }

    .container-contacto{
        .servicios-contacto{
            padding-top: 60rem;
            .div-info{
                transform: translate(5%,0);
            }
        }
    }

    .trabajos{
        height: 200rem; 
    }
}

@media (max-width: 700px){
    .principal{
        .container-principal{
            padding-top: 8rem;
            display:flex;
            flex-direction: column-reverse;
            justify-content: space-evenly;
            gap: 3rem;

            .home{
                width: 20rem;
                font-size: 1.5em;
            }

            .video{
                padding-left: 2rem;
                video{
                    width: 30rem;
                }  
            }
        }
    }

    .footer {

        img {
            width: 1.5rem;
        }

        .copy {
            font-size: 1.5em;
            gap: 3rem;
        }
    }
}

//keyframes

@keyframes rotar {
    0% {
        -webkit-transform: rotateY(530deg);
    }
}








