@charset "UTF-8";
/* Variables */
/* Variables */
/* Global */
/* Normalize */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Imports */
/* Global */
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: #000000;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: inherit; }

/* Home - header */
body .contain-principal-section .nav-container {
  max-width: 1080px;
  margin: 0 auto; }
  body .contain-principal-section .nav-container .header .mode {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    cursor: pointer; }
    body .contain-principal-section .nav-container .header .mode img {
      width: 90px; }
  body .contain-principal-section .nav-container .home {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20rem; }
    body .contain-principal-section .nav-container .home .texto {
      width: 40rem; }
    body .contain-principal-section .nav-container .home .nav {
      display: flex;
      align-items: center;
      position: sticky;
      cursor: pointer; }
      body .contain-principal-section .nav-container .home .nav img {
        transition: 0.3s ease-in-out; }
      body .contain-principal-section .nav-container .home .nav img:hover {
        transform: scale(1.1); }

body .container {
  max-width: 1080px;
  margin: 0 auto; }
  body .container .container-sobre-mi {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  body .container .sobre-mi {
    display: flex;
    margin-top: 30rem;
    margin-bottom: 30rem;
    gap: 3rem; }
    body .container .sobre-mi .container-descripcion img {
      width: 30rem; }
    body .container .sobre-mi .descripcion1 {
      margin-left: 1rem; }
      body .container .sobre-mi .descripcion1 .texto1 {
        margin-bottom: 2rem; }
      body .container .sobre-mi .descripcion1 .texto2 {
        margin-bottom: 4rem; }
    body .container .sobre-mi h2 {
      font-size: 2em; }
    body .container .sobre-mi p {
      font-size: 1.5em;
      width: 25rem; }
    body .container .sobre-mi img {
      width: 7rem; }
    body .container .sobre-mi .boton {
      position: absolute;
      width: 140px;
      height: 40px;
      text-align: center;
      margin-top: 5rem;
      font-size: 1.6em;
      padding: 0.5rem;
      transition: 0.3s ease-in-out; }
      body .container .sobre-mi .boton:hover svg rect {
        stroke-dasharray: 50, 380;
        stroke-dashoffset: 200;
        stroke: #9d64ff; }
      body .container .sobre-mi .boton:hover {
        transform: scale(1.1);
        background: linear-gradient(to right, #ff9beb, #ff9af8, #f28eff, #8d74ff, #ad94ff, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; }
      body .container .sobre-mi .boton svg,
      body .container .sobre-mi .boton svg rect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: transparent; }
      body .container .sobre-mi .boton rect {
        stroke: #ffffb3;
        stroke-width: 4;
        transition: 1s;
        stroke-dasharray: 400, 400;
        stroke-dashoffset: 0; }
  body .container .sobre-mi2 {
    margin-top: 30rem; }
    body .container .sobre-mi2 img {
      width: 55rem;
      z-index: -1; }
    body .container .sobre-mi2 .textos {
      position: absolute;
      top: 155%;
      left: 55%;
      width: 35rem;
      font-size: 1.6em; }

body .container-seccion-trabajos {
  max-width: 1080px;
  margin: 0 auto; }
  body .container-seccion-trabajos .container-trabajos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .container-seccion-trabajos .container-trabajos .texto-trabajos {
      width: 50rem; }
    body .container-seccion-trabajos .container-trabajos .div-trabajos {
      display: flex;
      flex-direction: row;
      gap: 8rem; }
      body .container-seccion-trabajos .container-trabajos .div-trabajos img {
        width: 40rem; }

body .container-contacto {
  max-width: 1080px;
  margin: 0 auto; }
  body .container-contacto .servicios-contacto {
    margin-top: 30rem;
    margin-bottom: 30rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
    body .container-contacto .servicios-contacto .div-info {
      margin-right: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6rem; }
      body .container-contacto .servicios-contacto .div-info .decorativo1 {
        width: 1rem;
        margin-right: 50rem; }
      body .container-contacto .servicios-contacto .div-info .decorativo2 {
        width: 1rem;
        margin-left: 50rem; }
      body .container-contacto .servicios-contacto .div-info .info .forma5 {
        cursor: pointer;
        width: 40rem;
        transition: 0.3s ease-in-out; }
        body .container-contacto .servicios-contacto .div-info .info .forma5:hover {
          transform: scale(1.1); }
      body .container-contacto .servicios-contacto .div-info .info .tipografía-servicios {
        width: 20rem;
        display: flex;
        flex-direction: column;
        margin-left: 10rem;
        margin-top: 5rem; }
    body .container-contacto .servicios-contacto .div-contacto {
      display: flex;
      flex-direction: column-reverse;
      gap: 2rem;
      align-items: center;
      margin-bottom: 10rem; }
      body .container-contacto .servicios-contacto .div-contacto div {
        display: flex;
        flex-direction: column-reverse;
        gap: 5rem;
        cursor: pointer; }
        body .container-contacto .servicios-contacto .div-contacto div img {
          width: 4rem;
          transition: 0.3s ease-in-out; }
          body .container-contacto .servicios-contacto .div-contacto div img:hover {
            transform: scale(1.1); }
      body .container-contacto .servicios-contacto .div-contacto span {
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 2em; }

body .footer {
  height: 200px;
  margin-top: 160px;
  background-color: white; }
  body .footer img {
    width: 2rem; }
  body .footer .copy {
    color: #2d2d2d;
    font-weight: 700;
    font-size: 2em;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    gap: 5rem; }
