@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background-color: #f8fafc;
}

body.dark-mode {
    background-color: #1e293b;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Global*/
.contenedor {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Navbar*/
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Home*/
.home {
    width: 100%;
    min-height: 80vh;
    position: relative;
    background-color: #f8fafc;
}

.home.dark-mode {
    background-color: #1e293b;
}

.texto-inicio {
    padding: 3rem;
    width: 45%;
    height: 60%;
    color: #475569;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.texto-inicio.dark-mode {
    background-color: #1e293b3b;
    box-shadow: -1px 1px 10px #18212f69;
    color: #94a3b8;
}

.wsp-me {
    display: flex;
    gap: 1rem;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    border: 1px solid #94a3b8;
    background-color: transparent;
    padding: .5rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: color .3s ease, transform .4s ease, background-color .3s ease;
}

.wsp-me.dark-mode {
    border: 1px solid #334155;
}

.wsp-me:hover {
    color: #f8fafc;
    transform: scale(1.1);
    background-color: #94a3b8;
}

.wsp-me:hover.dark-mode {
    background-color: #334155;
}

.ml6 {
    position: relative;
    font-weight: 800;
    font-size: 2.5em;
}

.ml7 {
    position: relative;
    font-weight: 300;
    font-size: 1.8em;
}

.ml10,
.ml11 {
    position: relative;
}

.ml8,
.ml9,
.ml10 {
    padding-top: 0.5em;
}

.ml6 .text-wrapper,
.ml7 .text-wrapper,
.ml8 .text-wrapper,
.ml9 .text-wrapper,
.ml10 .text-wrapper,
.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.5em;
    overflow: hidden;
}

.ml6 .letter,
.ml7 .letter,
.ml8 .letter,
.ml9 .letter,
.ml10 .letter,
.ml11 .letter {
    display: inline-block;
    line-height: 0.5em;
}

.animated-box {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: #e2e8f0;
    box-shadow: -2px 3px 10px #f1f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    top: 40px;
    left: 125px;
    font-size: 3em;
}

.animated-box.dark-mode {
    background-color: #334155;
    box-shadow: -2px 2px 10px #18212f;
}

/*Proyectos*/
.btn-arrow {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.btn-arrow svg {
    transition: .3s ease-in-out;
}

.btn-arrow:hover svg {
    transform: translateX(5px);
}

.card {
    width: 16rem;
}

.card h2 {
    padding-bottom: 1rem;
}

.card-top {
    display: flex;
    justify-content: space-between;
}

.card-top-items {
    display: flex;
    gap: 0.5rem;
    position: relative;
}

.card-top-items a {
    transition: .3s ease-in-out;
    font-size: 1.2em;
    position: relative;
}

.card-top-items a .tooltip {
    visibility: hidden;
    background-color: #e2e8f0;
    color: #334155;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 100px;
    font-size: 0.8rem;
}

.dark-mode .card-top-items a .tooltip{
    background-color: #94a3b8;
    color: #f8fafc;
}

.card-top-items a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.card-top-items a:hover {
    transform: translateY(-2px);
    color: #0f172a;
}

.dark-mode .card-top-items a:hover {
    color: #f8fafc;
}

.img-card-1 {
    background-image: url('./img/llueve-con-sol.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #0f172a67;
}

.img-card-2 {
    background-image: url('./img/domo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #0f172a67;
}

.img-card-3 {
    background-image: url('./img/Adrastea.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #0f172a67;
}

.img-card-4 {
    background-image: url('./img/fiber.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #0f172a67;
}

/*Footer*/
.footer {
    width: 100%;
    height: 5.2vh;
    background-color: #f8fafc;
    color: #64748b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer.dark-mode {
    background-color: #1e293b;
}